@model SportsBetting.Web.Models.EventActionViewModel

@{ 
    var date = DateTime.UtcNow.Date.AddHours(23).AddMinutes(59).AddSeconds(59);
}
<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewEventMode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="datetime-local"  disabled="disabled" value="@date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PreviewMode">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
