@model SportsBetting.Web.Models.EventActionViewModel


<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewEventMode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required="required"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddsForFirstTeam" class="control-label"></label>
                <input asp-for="OddsForFirstTeam" class="form-control" />
                <span asp-validation-for="OddsForFirstTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddsForDraw" class="control-label"></label>
                <input asp-for="OddsForDraw" class="form-control" />
                <span asp-validation-for="OddsForDraw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddsForSecondTeam" class="control-label"></label>
                <input asp-for="OddsForSecondTeam" class="form-control" />
                <span asp-validation-for="OddsForSecondTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PreviewMode">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
