@model SportsBetting.Web.Models.EventActionViewModel
    <script>
        console.log(@Model)
    </script>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" type="text" disabled="disabled" value="@Model.Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddsForFirstTeam" class="control-label"></label>
                <input asp-for="OddsForFirstTeam" class="form-control" />
                <span asp-validation-for="OddsForFirstTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddsForDraw" class="control-label"></label>
                <input asp-for="OddsForDraw" class="form-control" />
                <span asp-validation-for="OddsForDraw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddsForSecondTeam" class="control-label"></label>
                <input asp-for="OddsForSecondTeam" class="form-control" />
                <span asp-validation-for="OddsForSecondTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class=""button-box col-lg-12"">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteMode","Event",new { Id = Model.Id })'"> Delete</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PreviewMode">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
