@{
    ViewData["Title"] = "Page Invalid";
}

<h2>Invalid Page!</h2>
<p>The page you are looking for has not been found!</p>
<p>Feel free to contact our Administration team for further assistance!</p>